body,html {
    color: #848484;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 90%;
    font-weight: 300;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    height: 35px;
}

.font-large {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}
