<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ccrKSRBN9QdnLbhYLioJYZFBgJInYd7SnACUikLXYuY"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Product+Sans:400&amp;lang=en-US" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.yellow-amber.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://fonoster.com/static/lib/bower_components/js-polyfills/polyfill.min.js"></script>
    <script src="https://fonoster.com/static/lib/bower_components/dialog-polyfill/dialog-polyfill.js"></script>
    <script src="https://fonoster.com/static/lib/bower_components/material-design-lite/material.min.js"></script>
    <script src="https://fonoster.com/static/lib/bower_components/angular/angular.min.js"></script>
    <script src="https://fonoster.com/static/lib/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/static/lib/bower_components/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonoster.com/static/lib/bower_components/dialog-polyfill/dialog-polyfill.css">
    <link rel="icon" type="image/png" href="https://fonoster.com/assets/images/favicon.png" sizes="32x32">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71722942-1', 'auto');
        ga('send', 'pageview');

        angular.module('FIndex', ['ngRoute']);

        angular.module('FIndex').controller('IndexCtrl', ['$scope', function ($scope) {
            var self = this;
            var dialog = document.querySelector('dialog');

            init();

            self.pricing = function() {
                showDialog("Need pricing?", "Fonoster is still a private-beta. Pricing will be available once we launch to the general public.");
            }

            function showDialog (title, content) {
                dialog.showModal();
                self.title = title;
                self.content = content;
            }

            function init() {
                self.email = '';
                self.status = '';

                dialog.querySelector('.close').addEventListener('click', function() {
                    dialog.close();
                });

                if (!dialog.showModal) {
                    dialogPolyfill.registerDialog(dialog);
                }
            }
        }]);

        angular.module('FIndex').config(['$routeProvider',
            function($routeProvider) {
        $routeProvider.
        when('/index', {
                    templateUrl: 'landingpage.tpl.html'
        }).
        when('/about', {
                    templateUrl: 'about.tpl.html'
        }).
        when('/contact', {
            templateUrl: 'contact.tpl.html'
        }).
         when('/terms', {
            templateUrl: 'terms.tpl.html'
        }).
         when('/privacy', {
            templateUrl: 'privacy.tpl.html'
        }).
        otherwise({
            redirectTo: '/index'
            });
        }]);
    </script>
    <style>
        [ng-cloak] {
            display: none;
        }

        .logo {
            height: 35px;
        }

        .mdl-textfield__input {
            border-bottom: 1px solid gray;
        }
    </style>

    <title>Fonoster - Communicate</title>
</head>
<body ng-cloak ng-app="FIndex">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button" ng-controller="IndexCtrl as ctrl">
        <header class="mdl-layout__header mdl-layout__header--waterfall mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <img class="logo" src="/static/assets/images/logo.png"/>
                </span>
                <div class="mdl-layout-spacer"></div>

                <nav class="mdl-navigation mdl-cell--hide-tablet mdl-cell--hide-phone">
                    <a href="https://console.fonoster.com" class="mdl-navigation__link mdl-js-button green">Go to Console</a>
                    <a href="https://console.fonoster.com/#/signup" class="mdl-navigation__link mdl-js-button" style="background-color: rgb(255,235,59)">Get your FREE API key</a>
                </nav>
            </div>

            <!-- Bottom row, not visible on scroll -->
            <div class="mdl-layout__header-row" style="border-style: solid; border-color: #efefef; border-width: 0; border-top-width: 1px; background-color: #fff">

                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="https://fonoster.com">Home</a>
                    <a ng-click="ctrl.pricing()" class="mdl-navigation__link" href="">Pricing</a>
                    <a class="mdl-navigation__link" href="https://blog.fonoster.com">Blog</a>
                    <a class="mdl-navigation__link" href="https://console.fonoster.com/#/login?playground">Demo</a>
                    <a class="mdl-navigation__link" href="https://console.fonoster.com">Go to the Console</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer ">
            <h1 class="logo logo-drawer" style="margin-left: 15px;">
                <img class="logo" src="/static/assets/images/logo.png"/>
            </h1>
            <nav class="mdl-navigation">
                <a href="" class="mdl-navigation__link">Home</a>
                <a ng-click="ctrl.pricing()" class="mdl-navigation__link">Pricing</a>
                <a href="https://fonoster.com/docs" class="mdl-navigation__link">Docs</a>
                <a href="https://blog.fonoster.com" class="mdl-navigation__link">Blog</a>
                <a href="https://console.fonoster.com/#/login?playground" class="mdl-navigation__link">Demo</a>
                <a href="https://console.fonoster.com" class="mdl-navigation__link">Go to console</a>
            </nav>
        </div>
        <main class="mdl-layout__content" >

            <div ng-view></div>

            <style>
                .mdl-textfield__label {
                    color: gray;
                }
            </style>
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer__middle-section">

                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Company</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <!--<li><a href="#">About</a></li>-->
                            <li><a href="else.html#privacy">Privacy</a></li>
                            <li><a href="else.html#terms">Terms</a></li>
                            <li><a href="else.html#contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Resources</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="https://blog.fonoster.com/2016/11/21/how-to-broadcast-a-voice-message-with-fonoster-voice-api/">Getting Started With Fonoster</a></li>
                            <li><a href="https://fonoster.com/docs">Docs</a></li>
                            <li><a href="https://github.com/fonoster/callflow-examples">Examples</a></li>
                            <li><a href="" ng-click="ctrl.pricing();return">Pricing</a></li>
                            <li><a href="https://console.fonoster.com/#/login?playground">Demo</a></li>
                            <li><a href="https://console.fonoster.com">Console</a></li>
                            <li><a href="https://github.com/fonoster">Helper Libraries</a></li>
                        </ul>
                    </div>

                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Stay Connected</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="https://blog.fonoster.com">Blog</a></li>
                            <li><a href="https://facebook.com/fonoster">Facebook</a></li>
                            <li><a href="https://twitter.com/fonoster">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/company/fonoster">Linkedin</a></li>
                            <li><a href="https://github.com/fonoster">Github</a></li>
                            <li><a href="https://github.com/fonoster">Join us on Slack</a></li>
                        </ul>
                    </div>

                    <div class="mdl-mega-footer__drop-down-section" >
                        <h3 class="mdl-typography--display-1">Email Newsletter</h3>
                        <p>Get updates, news, surveys & offers.</p>

                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <form action="//fonoster.us14.list-manage.com/subscribe/post?u=128404d6884e0be58682f5a6d&amp;id=af0ff5bf29" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="mdl-textfield mdl-js-textfield">

                                <!-- TODO: Add email patter -->
                                <input type="text"  name="EMAIL" class="mdl-textfield__input" id="mce-EMAIL" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="100">
                                <label class="mdl-textfield__label" for="mce-EMAIL">Email address</label>
                                <span class="mdl-textfield__error">Invalid Email</span>

                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_128404d6884e0be58682f5a6d_af0ff5bf29" tabindex="-1" value=""></div>
                            </div>
                        </form>
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" form="mc-embedded-subscribe-form" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                            <i class="material-icons">send</i>
                        </button>
                    </div>

                </div>

                <div class="mdl-mega-footer__bottom-section">
                    <div class="mdl-logo">Fonoster, Inc &copy; 2016</div>
                    <ul class="mdl-mega-footer__link-list">

                        <li><a href="else.html#privacy">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
        </main>
        <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">{{ctrl.title}}</h4>
            <div class="mdl-dialog__content">
                <p>{{ctrl.content}}</p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Got it</button>
            </div>
        </dialog>
    </div>
</body>
</html>
